body{
    background-color:#ebebeb;
    margin: 0%;
    padding: 0%;
}
.bar-chart{
    background-color:burlywood;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 12px 2px black
}
body{
    font-family: 'Josefin Sans', sans-serif;
}